doctype html

head
    title Ñam ñam ñam
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/styles.css')

body
    div.main-wrapper
        header.main-header
            h1 Ñam ñam ñam
            p.tagline Libro de recetas de @ladybenko

        main
            - if (langs)
                p.meta Available in#{' '}
                    - each slug, lang in langs
                        a(href='/' + lang + '/' + slug + '.html')= lang

            != contents

        footer.main-footer
            p Crafted with ♥︎ by <a href="https://www.twitter.com/ladybenko">@ladybenko</a>
